#contact {
    background: #2B373C;
    color: #FFF;
}

#contact .column {
    width: 50%;
    float: left;
    margin-bottom: 20px;
}

#contact .column div {
    margin-bottom: 30px;
    overflow: hidden;
}